{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
      <div class="container">
        <div class="col-md-12">
          <div class="blog-post  blog-post--fullwidth  blog-post--page">
            <div class="blog-post__image">
              <img src="{% static 'img/about-me.jpg' %}" alt="About Me">
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__title">
                <h1>A propos de moi</h1>
              </div>
              <div class="blog-post__content">
                <p>
                    Anne Marie Konan Payne est née le 09 Juillet 1962. Elle a commencé sa carrière au sein de la Société d’exploitation des biens immobiliers avant ce créer le cabinet de conseil Pluricom qu’elle dirigea de 1994 à 2004. Présidente de l’Association des Agences Conseil en Communication de Côte d’Ivoire en 2003, elle est appelée comme plusieurs cadres du secteur privé au lendemain de l’éclatement de la crise en Côte d’Ivoire pour appuyer le gouvernement de réconciliation nationale dans sa mission.
                    En 2004, alors Conseiller technique du Premier Ministre ivoirien, S.E.M. Seydou Elimane Diarra, elle est nommée Directeur National du programme PNUD d’appui à la communication gouvernementale. Elle saisi cette opportunité pour initier et concevoir la réforme CICG (Centre d’Information et de Communication Gouvernementale) avec pour but de doter la Côte d’Ivoire d’un centre de ressources suffisament outillé pour faire comprendre les décisions du gouvernement, anticiper, ajuster ses actions afin de répondre aux besoins des populations tout en suscitant une meillure interaction entre l’administration et les administrés contribuant ainsi à l’efficacité gouvernementale.
                    Directrice du CICG de sa création en 2004 jusqu’en 2017, elle pose les bases de cette structure rattachée au cabinet du Premier Ministre. En tant que Directrice du CICG elle a permis de moderniser l’image du gouvernement ivoirien, permis la mise en place de plusieurs outils performants tels que le bilan 2011-2015 de l’action gouvernementale ou la mise en place du programme « Rendez-vous du gouvernement » qui ouvre une tribune à des membres du gouvernement pour expliquer l’action publique. Le CICG a valorisé depuis sa création l’accès à l’information gouvernementale.
                    Depuis Juillet 2017, Anne-Marie Konan Payne est Conseiller en charge de l’Innovation de l’Action Publique, de la Modernisation de l’Administration et de la Fonction Publique auprès du Premier Ministre de Côte d’Ivoire, SEM Amadou Gon Coulibaly et assure dans ce cadre depuis Décembre 2018 la fonction de Directeur du Programme Cadres Dirigeants Côte d’Ivoire Emergente dont l’objectif est de perfectionner de façon continue, coordonnée et ciblée  des compétences de l’Encadrement Supérieur et Dirigeant de l’Etat en rapport avec les réformes prioritaires du programme Côte d’Ivoire Emergente.
                    Fondatrice de l’Institut Delayam pour la Citoyenneté active (IDCA), elle s’engage à mobiliser de plus en plus de citoyens autour de la vision « Agir en complémentarité » pour une  citoyenneté active en faveur de l’efficacité de l‘action publique.
                    Sous son impulsion, l’Institut Delayam a mis en place différents programmes tels que le think Tank « Agir en complémentarité » en 2019, le programme Carrefours Citoyen permettant de créer un espace d’échanges dynamique avec le Citoyen et le programme Bénévolat Professionnel qui permet de canalyser l’engagement citoyen et en faire une énergie vive au profit de l’action citoyenne.

                </p>
                </div>
              <div class="blog-post__footer">
                <div class="blog-post__footer-social">
                  <span>Partager:</span>
                  <div class="blog-post__footer-social-icons">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}