{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page">

    <div class="page-header h-300" style="background-image: url('{% static 'assets/images/hero.jpg' %}');background-size: cover; background-position: center">
        <!--<div class="text-center blue-grey-800 m-0 mt-50">
                <div class="font-size-50 mb-30 white-800">Agir en complémentarité</div>
                
              </div>-->
        <div class="overlay-panel overlay-background overlay-bottom">
            <div class="row no-space">
                <div class="col-sm-6">
                    <a class="avatar avatar-lg bg-white float-left mr-20 img-bordered" href="javascript:void(0)">
                        <img src="{% static 'assets/images/hero.jpg'%}" alt="">
                    </a>
                    <div>
                        
                        <div class="font-size-20">ANNE-MARIE KONAN-PAYNE</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="page-content p-0">
        <div style="position: fixed;bottom:20px;right:20px;z-index: 4500">
            <div style="display: flex;flex-direction:column;">
                <button type="button" class="btn btn-floating btn-danger" data-toggle="tooltip" data-placement="right"
                    data-trigger="hover" data-original-title="Youtube" title="" style="margin-bottom: 20px"><i
                        class="icon fa-youtube" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-floating btn-danger" data-toggle="tooltip" data-placement="right"
                    data-trigger="hover" data-original-title="Twitter" title="" style="margin-bottom: 20px"><i
                        class="icon fa-twitter" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-floating btn-danger" data-toggle="tooltip" data-placement="right"
                    data-trigger="hover" data-original-title="Facebook" title=""><i class="icon fa-facebook"
                        aria-hidden="true"></i></button>
                
            </div>

        </div>
        {% if publications %}
         <ul class="blocks no-space blocks-100 blocks-xxl-3 blocks-lg-4">
            {% for publication in publications %}
            <li class="card card-inverse overlay overlay-hover">
                    {% if publication.type_de_media == 'IMG' %}
                     <img class="card-img overlay-scale overlay-figure" src="{{publication.media_image.url}}"
                  alt="...">
                  {% elif publication.type_de_media == "VID" %}
                  <span>{{publication.media_youtube}}</span>
  <iframe class="cover-iframe h-250 h-only-sm-300 h-only-xs-300" src="https://www.youtube.com/embed/{{publication.media_video_youtube}}"></iframe>

                    {%endif %}
               
                <div class="card-img-overlay overlay-background overlay-background-fixed text-center vertical-align">
                  <div class="vertical-align-middle">
                    <div class="card-text card-divider">
                       
                            <span>{{publication.publication_date}}</span>
                        
                      
                    </div> <a href="{% url 'publication' publication.id %}">
                    <h4 class="card-title mb-20">{{publication.titre}}</h4></a>
                  </div>
                </div>
              </li>

            {% endfor %}
       
            
         
        </ul>
        {% endif %}

        <div class="container-fluid">
<h1>Mes tweets</h1>
        <div class="row">
            
                {% if tweets %}
                {% for tweet in tweets %}
                <div class="col-md-4 mb-30" >
                        <!-- {%if tweet.extended_entities %}
                        <img class="card-img-top img-fluid w-full" src="{{tweet.extended_entities.media.media_url}}" alt="Card image cap"> 
                        <h3>test</h3>
                        {% if tweet.extended_entities.media %}
                        il ya media
                         {% if tweet.extended_entities.media%}
                           test
                         {% endif %}
                        {% endif %}

                        {%endif%} -->
                        
                        <div class="card card-shadow card-inverse white bg-twitter mb-30">
                                <div class="card-block p-20 h-full">
                                  <h3 class="white mt-0">{{tweet.text}}</h3>
                                  <small>{{tweet.user.name}}</small>
                                  <div class="mt-30">
                                    <i class="icon bd-twitter font-size-26"></i>
                                    <ul class="list-inline float-right mt-15">
                                      <li class="list-inline-item">
                                        <i class="icon wb-heart"></i> {{tweet.favorite_count}}
                                      </li>
                                      <li class="list-inline-item">
                                        <i class="icon wb-thumb-up"></i> {{tweet.retweet_count}}
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                    </div>
                        {% endfor %}
                        {% endif%}
                
                
                        
                        
                        <p>
                            <b>{{tweet.user.name}}</b>: {{tweet.text}}
                        </p>
                        
        </div>

        </div>

        

    </div>
</div>


{% endblock %}