{% extends 'base.html' %}
{% load static %}


{% block content %}
<section style="position: absolute;width: 100%">
      <div>
        <iframe width="100%" height="416" src="https://www.youtube.com/embed/GOeBWgdzaK4?&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </section>
    <main style="margin-top: 416px">
      <div class="container">
        <div class="col-md-9">
            {% if articles %}
                {% for article in articles %}
                    <div class="blog-post">
            <div class="blog-post-wrapper">
              <div class="blog-post__info  blog-post__info--top">
                  {% if article.categorie %}
                   <span>
                        <a href="#">{{article.categorie.capitalize}}</a>
                   </span>
                  {% else %}
                      <span><!-- nothing --></span>
                  {% endif %}

              </div>
              <div class="blog-post__title" >
                <h2><a href="{% url 'article' article.id %}">
                    {{ article.titre }}
                </a></h2>
              </div>
              <div class="blog-post__info">
                <span>{{article.date_publication}}</span>
              </div>
            </div>
            <div class="blog-post__image">
              <a href="{% url 'article' article.id %}"><img src="{{ article.image_principale.url }}" alt="Why Glass Had Been So Popular Till Now?"></a>
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__content">
                <p>
                   {{ article.texte }}
                  </p>
              </div>
              <div class="blog-post__footer">
                <a class="blog-post__footer-link" href="{% url 'article' article.id %}">En savoir plus</a>
                <div class="blog-post__footer-social">
                  <span>Partager:</span>
                  <div class="blog-post__footer-social-icons">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>

                {% endfor %}
                {% else %}
                <h3>Aucun article pour le momemt</h3>

            {% endif %}
            {% if articles.has_other_pages %}
                <nav class="blog-pagination">
            <ul class="blog-pagination__items">
                {% if articles.has_previous %}
                     <li class="blog-pagination__item">
                        <a href="?page={{ articles.previous_page_number }}">Page précédente</a>
                    </li>
                {% endif %}
                {% for i in articles.paginator.page_range %}
                    {% if articles.number == i %}
                        <li class="blog-pagination__item  blog-pagination__item--active">
                            <a>{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="blog-pagination__item">
                            <a href="?page={{i}}">{{ i }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
                {% if articles.has_next %}
                     <li class="blog-pagination__item">
                <a href="?page={{ articles.next_page_number }}">Page suivante</a>
              </li>

                {% endif %}


            </ul>
          </nav>


            {% endif %}

        </div>
        <div class="col-md-3  sidebar  sidebar--right">
          <div class="sidebar-widget" style="margin-top: 20px">
            <h3>A propos de moi</h3>
            <div class="sidebar-widget__about-me">
              <div class="sidebar-widget__about-me-image">
                <img src="{% static 'img/about-me.jpg' %}" alt="About Me">
              </div>
              <p>
                  Anne Marie Konan Payne est née le 09 Juillet 1962. Elle a commencé sa carrière au sein de la Société d’exploitation des biens immobiliers avant ce créer le cabinet de conseil Pluricom qu’elle dirigea de 1994 à 2004.
              </p>
              <span class="sidebar-widget__about-me-link">
                <a href="{% url 'about' %}">En savoir plus</a>
              </span>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Suivez Moi</h3>
            <div class="sidebar-widget__follow-me">
              <div class="sidebar-widget__follow-me-icons">
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                  </svg>
                </a>

              </div>
            </div>
          </div>



          <div class="sidebar-widget">
              <a class="twitter-timeline" data-lang="fr" data-height="420" href="https://twitter.com/amkpayne?ref_src=twsrc%5Etfw">Tweets by amkpayne</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </main>

{% endblock %}