{% extends 'base.html' %}
{% load static %}

{% block content %}
     <main>
      <div class="container">
        <div class="col-md-12  col-lg-12">
          <div class="blog-post  blog-post--fullwidth  blog-post--page">
            <div class="blog-post__image">
              <img src="{% static 'img/contact.jpg' %}" alt="Contact">
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__title">
                <h1>Contact</h1>
              </div>
              <!-- <div class="blog-post__content">
              </div> -->
              <div class="blog-post__contact">
                  {% include 'partials/alert.html' %}
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                  <p class="blog-post__contact-author">
                    <label for="contact-author">Nom complet*</label>
                    <input id="contact-author" type="text" name="nom_complet" size="30" aria-required="true" required>
                  </p>
                    <p class="blog-post__contact-subject">
                    <label for="contact-subject">Sujet*</label>
                    <input id="contact-subject" type="text" name="sujet" size="60" aria-required="true" required>
                  </p>
                  <p class="blog-post__contact-email">
                    <label for="contact-email">Email*</label>
                    <input id="contact-email" type="email" name="adresse_email" size="30" aria-required="true" required>
                  </p>
                  <p class="blog-post__contact-message">
                    <label for="contact-message">Message</label>
                    <textarea id="contact-message" name="texte" cols="45" aria-required="true"></textarea>
                  </p>
                  <p class="blog-post__contact-submit">
                    <input id="contact-submit" type="submit" size="30" value="Envoyer">
                  </p>
                </form>
              </div>
              <div class="blog-post__footer">
                <div class="blog-post__footer-social">
                  <span>Partager:</span>
                  <div class="blog-post__footer-social-icons">
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                      </svg>
                    </a>
                    <a href="#">
                      <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                      </svg>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}